
* {
  /*border: 1px solid purple;*/
}

body {
  min-width: 320px;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/tealBlur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*/////////////////////// NAVIGATION ///////////////////////*/

#nav {
  font-family: 'Mitr', sans-serif;
  font-size: 1.3em;
  height: 120px;
  width: 100%;
  opacity: .4;
  background-color: transparent;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  -webkit-transform: height .5s, opacity .5s, background-color .5s;
  transition: height .5s, opacity .5s, background-color .5s;
  z-index: 1;
}

.nav_menu {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-right: 15%;
}

.nav_item {
  padding: 0 25px;
  cursor: pointer;
  transition: color .5s ease;
}

.nav_item:hover{
  color: cyan;
}

#nav_button {
  font-size: 1.5em;
  display: none;
}

#logo_nav {
  width: 44px;
  height: 50px;
  cursor: pointer;
  margin-left: 20%;
}

@media (max-width: 992px) {

  .nav_item {
    display: none;
  }

  .nav_menu {
    margin-right: 0px;
  }

  #nav_button {
    display: block;
  }

  #logo_nav {
    margin-left: 25px;
  }

  .expand {
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #222228;
  }

  .expand a {
    display: block;
    align-self: flex-end;
    margin: 8px 0;
  }

  .expand #nav_button {
    margin-top: 15px;
  }
}

/*/////////////////////// INTRO ///////////////////////*/

#intro {
  height: 100vh;
  min-height: 640px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.big_logo {
  width: 105px;
}

#intro h1 {
  margin-top: 0.2em;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: -.02em;
}

#intro p {
  font-size: .9em;
  opacity: 0.85;
}

.arrow_box {
  height: 35%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#arrow {
  width: 40px;
  cursor: pointer;
  margin-bottom: 4em;
}

@media (min-width: 576px) {

  .big_logo {
    width: 160px;
  }

  #intro h1 {
    font-size: 4em;
  }

  #intro p {
    font-size: 1.3em;
  }

  #arrow {
    width: 45px;
  }
}

@media (min-width: 992px) {

  .big_logo {
    width: 200px;
  }

  #intro h1 {
    font-size: 5.15em;
  }

  #intro p {
    font-size: 1.7em;
  }

  #arrow {
    width: 50px;
  }
}



/*/////////////////////// ABOUT ///////////////////////*/
#about {
  background-color: #fefefe;
  padding-top: 2em;
}

#about img {
  display: block;
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  margin: auto;
}

#about .text {
  font-size: 1em;
  text-align: center;
  padding: 1em;
}

#about p {
  margin-bottom: 1.1em;
}

#about h2 {
  margin-bottom: 0.7em;
}

@media (min-width: 576px){
  #about img {
    width: 80vw;
    max-width: 850px;
  }

  #about .text {
    font-size: 1.1em;
  }
}

@media (min-width: 992px){
  #about .text {
    font-size: 1.4em;
  }
}

@media (min-width: 1250px) {
  #about {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 3em;
  }

  #about img {
    width: 40vw;
  }

  #about .text {
    font-size: 1vw;
    text-align: left;
    width: 60vw;
    margin-left: 3em;
  }

}

/*/////////////////////// TECH //////////////////////////*/

#tech {
  background-color: #f7f7f7;
  padding: 3em 0em 3em;
  border-top: 2px solid #f4f4f4;
  border-bottom: 1px solid #ddd;
}

#tech .text {
  text-align: center;
  font-size: .85em;
}

#tech h2 {
  margin-bottom: .7em;
}

#tech p {
  width: 85%;
  margin: auto;
  padding-bottom: .7em;
  border-bottom: 2px solid #999;
}

.carousel {
  height: 150px;
  width: 100%;
  position: relative;
  margin-top: 3em;
  overflow: hidden;
}

.carousel_item {
  height: 150px;
  width: 150px;
  position: absolute;
}

@media (min-width: 576px) {
  #tech .text{
    font-size: 1.3em;
  }

  #tech p {
    width: 75%;
  }
}

@media (min-width: 992px) {
  #tech .text{
    font-size: 1.6em;
  }

  #tech p {
    width: 60%;
  }
}

@media (min-width: 1250px) {
  #tech .text{
    font-size: 1.1vw;
  }

  #tech p {
    width: 30%;
  }
}

/*/////////////////////// FOOTER ///////////////////////*/

#contact {
  color: #fff;
  background-color: #222228;
  text-align: center;
  cursor: default;
  padding: 5em 0em 2em;
  margin-top: 10em;
}

.icons {
  background: #27272c;
  border-radius: 4em;
  padding: 1.5em;
  margin: 3em auto 7em;
  display: inline-block;
}

.icon {
  height: 2em;
  margin: 0px .65em;
  transition: background-color .5s ease;
  background-color: white;
}

.icon:hover {
  background-color: cyan;
}

.copyright {
  color: rgba(128, 128, 128, 0.75);
}

@media (min-width: 768px) {
  .icon {
    margin: 0em 1em;
  }
}
